RedMarker
{
   width:9px;
   height:18px;
   background-image: resource("Assets/Icons/red_marker.png");
}

YellowMarker
{
   width:9px;
   height:18px;
   background-image: resource("Assets/Icons/yellow_marker.png");
}

BlueMarker
{
   width:9px;
   height:18px;
   background-image: resource("Assets/Icons/blue_marker.png");
}

GreenMarker
{
   width:9px;
   height:18px;
   background-image: resource("Assets/Icons/green_marker.png");
}

